<form class="login-form border-2 border-yellow-900 w-full">
  <div>
    <label class="bg-yellow-900 text-xl font-bold text-yellow-200 p-1" for="email-login">Email:</label>
    <input class="w-full" type="text" id="email-login" />
  </div>
  <div>
    <label class="bg-yellow-900 text-xl font-bold text-yellow-200 p-1" for="password-login">Password:</label>
    <input class="w-full h-4/6" type="password" id="password-login" />
  </div>
  <div class="flex justify-center">
    <button class="p-1 w-10/12 bg-yellow-900 hover:text-yellow-900 text-yellow-200 font-bold rounded-md text-xl hover:bg-yellow-400" type="submit">Login</button>
  </div>

  <a class="text-blue-600 font-bold text-lg pl-2" href="./signup">Sign-Up</a>
</form>

<script src="/javascript/login.js"></script>