{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="bg-yellow-600 px-4 py-2 rounded-md text-lg font-bold  hover:bg-yellow-400" type="submit">Comment</button>
    <button type="submit" class="vote-btn text-lg font-bold rounded-md bg-green-600 text-lg px-4 py-2 hover:bg-green-600 hover:bg-yellow-400">Like</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}